<div id='wager-container'>
    <h2 *ngIf="game.FinalRound()">Final Question!</h2>
    <p class='question-category'>{{ game.CurCategory() }}</p>
    <div id='wager-input' class='flex-column' *ngIf="player.CanWager()">
        <p class='wager-range'>Wager between ${{ MinWager() }} and ${{ MaxWager() }}</p>
        <input type="number" [min]="MinWager()" [max]="MaxWager()" (keydown.enter)="handleWager()" [(ngModel)]="wagerAmt" placeholder="Enter your wager">
        <button (click)="handleWager()">Wager</button>
    </div>
    <div *ngIf="!game.FinalRound() && !player.CanWager()">
        {{ game.WageringPlayer() }} is choosing a wager
    </div>
</div>