<div class='toolbar flex-row' role="banner">
	<div class='flex-row' style='align-items: center; gap: 0.5em; overflow: hidden; height: 100%;'>
		<img src="assets/trex-profile.jpg" alt="T-Rex" class="app-icon">
		<h2>T-Rex Trivia</h2>
	</div>
	<div id='header-icons' class='flex-row'>
		<div>
			<a href="/">
				<ion-icon name="home-outline"></ion-icon>
			</a>
		</div>
		<div>
			<ion-icon (click)="modal.displayInstructions()" name="information-circle-outline"></ion-icon>
		</div>
	</div>
</div>


<div role="main">
	<router-outlet></router-outlet>
</div>

<app-game-message *ngIf="modal.showMessage()"></app-game-message>
<app-answer-feedback *ngIf="modal.showAnswerFeedback()"></app-answer-feedback>
<app-instructions *ngIf="modal.showInstructions()"></app-instructions>
<app-analytics *ngIf="modal.showAnalytics()"></app-analytics>
<app-dispute></app-dispute>
<app-register *ngIf="modal.showRegister()"></app-register>
<app-login *ngIf="modal.showLogin()"></app-login>