<div>
    <p class="final-answer">Final Trivia Answer: <b>{{ game.OfficialAnswer() }}</b></p>

    <div *ngFor="let p of game.Players()">
        <div class='player-answer' *ngIf="p.finalAnswer != '' && isPlayerRevealed(p.id)">
            <div class='flex-row'>
                <span *ngIf="p.finalAnswer != 'answer-timeout'">
                    {{ p.name }} answered <b>{{ p.finalCorrect ? 'correctly': 'incorrectly' }}</b> with <b>{{ p.finalAnswer }}</b>
                </span>
                <button *ngIf="p.finalAnswer != 'answer-timeout' && canProtestForPlayer(p)"
                    (click)="protestFinalCorrectness(p.id)">Dispute</button>

                <span *ngIf="p.finalAnswer == 'answer-timeout'">{{ p.name }} didn't answer in time.</span>
            </div>
            <div class='final-result' *ngIf="p.finalAnswer != 'answer-timeout'">
                <span [class.gain]="p.finalCorrect" [class.loss]="!p.finalCorrect">
                    {{ p.finalCorrect ? '+' : '-' }}${{ p.finalWager }}
                </span>
                <span class='final-score'>Final score: ${{ p.score }}</span>
            </div>
        </div>
    </div>

    <p class="winner-announcement" *ngIf="showWinner && this.game.HighestScorers().length == 1">The winner is <b>{{ this.game.HighestScorers()[0] }}</b></p>
    <p class="winner-announcement" *ngIf="showWinner && this.game.HighestScorers().length == 2">The winners are {{ this.game.HighestScorers()[0] }} and {{ this.game.HighestScorers()[1] }}</p>
    <p class="winner-announcement" *ngIf="showWinner && this.game.HighestScorers().length > 2">All players have tied</p>

    <hr>

    <div id='end-game-buttons' class='flex-row'>
        <button *ngIf='!player.PlayAgain()' (click)="playAgain()">Play again</button>
        <button (click)="leaveGame()">Home</button>
    </div>
</div>